ion-header{
    width:100%;
    background-color: var(--simpsons-yellow);
    // border: 2px solid purple;
}

ion-header ion-toolbar{
    width:100%;
    height:100%;

    // border: 2px solid red;
}

ion-header ion-title{
    background-color: var(--simpsons-yellow);
    font-size: 2em;
    font-weight: bold;
    height: 100%;
    width: auto;
    margin:0;
    right:0;

    // border: 2px solid blue;
}

ion-header ion-button{
    
    // border: 2px solid green;
}
  

