// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {

  /** override **/
  --ion-background-color: var(--simpsons-yellow);
  --ion-font-family:;
  --ion-text-color:;

  --simpsons-yellow: #FED343;
  --simpsons-yellow-rgb: 254,211,67;
  --simpsons-yellow-contrast: #000000;
  --simpsons-yellow-contrast-rgb: 0,0,0;
  --simpsons-yellow-shade: #e0ba3b;
  --simpsons-yellow-tint: #fed756;

  --simpsons-red: #ED3438;
  --simpsons-red-rgb: 237,52,56;
  --simpsons-red-contrast: #ffffff;
  --simpsons-red-contrast-rgb: 255,255,255;
  --simpsons-red-shade: #d12e31;
  --simpsons-red-tint: #ef484c;

  --simpsons-blue: #70D1FE;
  --simpsons-blue-rgb: 112,209,254;
  --simpsons-blue-contrast: #000000;
  --simpsons-blue-contrast-rgb: 0,0,0;
  --simpsons-blue-shade: #63b8e0;
  --simpsons-blue-tint: #7ed6fe;


}

ion-button{
  --border-radius: 0px;
  --background: var(--simpsons-red);
  --background-hover: var(--simpsons-red-tint);
  --background-activated: var(--simpsons-red-shade);	
}
