<ion-header>
  <ion-toolbar>
    <ion-title>create</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list *ngFor="let source of sourceArray; let i = index;">
    <img src={{source}} style="display:none;" id='{{ "I" + i }}'>
    <canvas id='{{ "C" + i }}'></canvas>
  </ion-list>

  <!-- <div id="canvasContainer"></div> -->

  <!-- <img id="testImage" src="../../../assets/images/Simpsons_FamilyPicture.png" style="display:none;">
  <canvas id="test" width="300" height="300"></canvas> -->

  <!-- <ion-list *ngFor="let thing of canvasArray">{{thing}}</ion-list> -->
  
</ion-content>
